@model QuickEmail.Models.ContactDetails
@{
    ViewData["Title"] = "Contacts";
    var i = 1;
}

<div id="divLoader" style="display:none"> <img src="~/images/ajax-loader (1).gif" alt="Loader" /> </div>
<div id="contacts" style="display:none">
    <div class="searchbg">
        <div class="container">
            <div class="searchbox">
                <h3>Contacts</h3>
            </div>
        </div>
    </div>
    <div class="clearfix spacer10"></div>
    <div class="container">
        <a href="javascript:void(0);" onclick="addContact()" class="btnprimary btn-md float-right">Add Contacts</a>
        <div class="clearfix spacer10"></div>
        <table id="tblContacts" class="table">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th class="taC">Name</th>
                    <th class="taC">Email</th>
                    <th class="taC">Phone</th>
                    <th class="taC">Country</th>
                    <th class="taC">User Domain</th>
                    <th style="width:250px" class="taC">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.Contacts?.Any() == true)
                {
                    @foreach (var item in Model.Contacts.OrderByDescending(x => x.CreateTimeStamp).ToList())
                    {
                        <tr>
                            <td>@i</td>
                            <td>
                                @item.ContactName
                            </td>
                            <td>
                                @item.ContactEmail
                            </td>
                            <td>
                                @item.ContactPhone
                            </td>
                            <td>
                                @item.Country
                            </td>
                            <td>
                                @item.UserDomain
                            </td>
                          
                            <td class="taC">
                               
                                <a href="javascript:void(0);" class="btn-edit" onclick="addContact('@item.ContactId')">Edit</a>
                                <a href="javascript:void(0);" class="btn-delete" onclick="deleteContact('@item.ContactId')">Delete</a>
                            </td>
                        </tr>
                        i++;
                    }

                }

            </tbody>
        </table>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        $(function () {
            $("#licontacts").addClass('active')
            $("#divLoader").show();
            $("#contacts").delay(1500).fadeIn();
            setTimeout(function () {
                $('#divLoader').fadeOut('fast');
            }, 1000);

        })
        $('#tblContacts').DataTable({
            "oLanguage": {
                "sEmptyTable": "No contacts found"
            },
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1]
            }],


        });

        function addContact(contactId) {
            $('#modalBody').load("/Email/_AddContacts?contactId=" +contactId);
            $('#myModal').modal("show");
        }

        function deleteContact(contactId) {
        bootbox.confirm("Selected document will be deleted!", function (result) {
            if (result == true) {
                $.ajax({
                    url: "/Faqs/DeleteDocument?documentId=" + documentId,
                    dataType: 'Json',
                    type: 'GET',
                    success: function (data) {
                        if (true) {
                            $("#myModal").modal("hide");
                            location.reload();
                        }

                    }
                });
            }
        });

    }
        
    </script>
}
